.card {
    @include flex();
    padding:50px 20px;
    img {
        @include images();
        max-width:450px;
    }
    .details{
       flex:1;
       min-width: 300px;
       padding:0 20px;
       color:$textColor;
       h2{
           text-transform: uppercase;
           letter-spacing:5px;
       }
       h4,p{
           margin:15px 0;
       }
       a{
           @extend %link;
           padding:10px 20px;
           border:1px solid $hoverBg;
           border-radius: 10px;
           margin-top: 20px;
           margin-right: 10px;
           &:hover{
               background:$hoverBg;
               color:$hoverText;
           }
       }
       
    }
}